.header {
    /* width: 100%;
    background: #e91e63;
    color: white;
    padding: 10px;
    font-size: 20px;
    display: flex; */
    width: 100%;
    /* max-width: 1100px; */
    height: 5rem;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0 5%;
    justify-content: space-between;
    align-items: center; 
    background-color: #008080;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 0 auto;
}

.navCustom {
    display: flex;
  }
  
  .navCustom ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .navCustom li {
    display: flex;
    margin-left: 1.5rem;
    font-size: 1.25rem;
    align-items: center;
  }

.header a {
    text-decoration: none;
    color: black;
}
/* 
.header h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
} */